/* Start Global */
body {
  margin: 0;
  background-color: #ccc;
  background-image: url(../images/bg_4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  color: var(--main-color);
}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
* {
  box-sizing: border-box;
}
:root {
  --transition: 0.4s;
  --main-color: #333;
  --border-radius: 5px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global */
/* Start header */
header {
  background-color: #e1e1e1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000000000000000000000000000000000000000000;
}
header .logo {
  display: flex;
}
header .logo a {
  padding: 7px 15px;
  transition: var(--transition);
}
header .logo a:hover {
  background-color: #eee;
}
header .logo a img {
  height: 35px;
  position: relative;
}
header .logo form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000000;
}
header .logo form input[type="text"] {
  margin-right: 10px;
  outline: none;
  border: none;
  width: 400px;
  padding: 10px;
  text-align: right;
  border-color: #b1b1b1 #b1b1b1 #b1b1b1 transparent;
  border-style: solid;
  border-width: 1px;
  font-size: 0.9rem;
}
header .logo form button {
  padding: 10.5px;
  width: 45px;
  outline: none;
  border: none;
  background-color: rgba(236, 239, 221, 0.95);
  border-color: #b1b1b1 transparent #b1b1b1 #b1b1b1;
  border-style: solid;
  border-width: 1px;
  color: #777;
  font-size: 0.8rem;
  transition: var(--transition);
  margin-right: -5px;
  z-index: 1555;
}
header .logo form button:hover {
  background-color: #89b300;
  color: #fff;
}
header .logo form .hi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000000;
}
header .log {
  font-size: 0.9rem;
  color: var(--main-color);
  transition: var(--transition);
  background-color: #dbdbdb;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  border: solid 1px #9999995e;
  margin-left: 15px;
}
header .log:hover {
  background-color: #eee;
}
header .icone-list {
  padding: 15px;
  background-color: #eee;
  display: none;
}
header .search {
  z-index: 1000000;
}
@media (max-width: 767px) {
  header .search,
  header .log {
    display: none;
  }
  header .icone-list {
    display: block;
    border-radius: var(--border-radius);
    border: solid 1px #9999995e;
    margin-left: 15px;
  }
  header .logo {
    justify-content: space-between;
  }
  header .logo form {
    width: auto;
  }
  header .icone-list:hover + .hi {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #eee;
    text-align: center;
  }
  header .icone-list:hover + .hi .search,
  header .icone-list:hover + .hi .log {
    display: block;
    margin: 15px auto;
  }
  header .icone-list:hover + .hi .search {
    display: flex;
  }
  header .icone-list:hover + .hi .search input[type="text"] {
    width: 100%;
  }
}
/* End header */
/* Start Footer */
footer {
  background-color: #262626;
  margin-top: 30px;
}
footer .container .nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 25px 0;
}
footer .container .nav img:first-child {
  margin: auto;
}
footer .container .nav ul li {
  margin-bottom: 10px;
}
footer .container .nav ul li a {
  color: #bbb;
  transition: var(--transition);
  font-size: 0.9rem;
}
footer .container .nav ul li a:hover {
  color: #ddd;
}
footer .container .nav .box {
  margin-top: 30px;
}
footer .container .nav .box a {
  color: #3d6a71;
  padding: 5px 10px;
  text-align: center;
  margin-right: 5px;
  background-color: #353535;
  transition: var(--transition);
}
footer .container .nav .box a:hover {
  background-color: #353535b6;
}
footer .container .nav .box a .icone_youtub {
  color: #ba2e3ac1;
}
footer .container .nav .box .icone_youtub:hover {
  background-color: #353535b6;
}
footer .main-foot {
  background-color: #1d1d1d;
}
footer .main-foot .container {
  display: flex;
  align-items: center;
  color: #bbb;
  padding: 15px;
  font-size: 0.8rem;
}
footer .main-foot .container img {
  height: 50px;
  filter: grayscale(1);
  transform: rotate(20deg);
  margin-left: 20px;
}
/* End Footer */
