/* Start Box Game */
.game-box {
  margin-top: 80px;
}
.game-box .container .text {
  margin-bottom: 50px;
}
.game-box .container .text h1 {
  font-size: 1.5rem;
  font-weight: normal;
}
.game-box .container .text .data {
  display: flex;
}
.game-box .container .text .data .data-text {
  padding: 0 10px;
  font-size: 0.8rem;
}
.game-box .container .parent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.game-box .container .parent .box h3 {
  font-size: 1rem;
}
/* Start Box One */
.game-box .container .parent .box:nth-child(1) {
  width: 65%;
}
.game-box .container .parent .box:nth-child(1) .gallery .background-img {
  width: 100%;
  height: 350px;
  background-size: cover;
  margin-bottom: 10px;
}
.game-box .container .parent .box:nth-child(1) .gallery .smail-img {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}
.game-box
  .container
  .parent
  .box:nth-child(1)
  .gallery
  .smail-img::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}
.game-box
  .container
  .parent
  .box:nth-child(1)
  .gallery
  .smail-img::-webkit-scrollbar-thumb {
  background: #999;
}
.game-box .container .parent .box:nth-child(1) .gallery .smail-img img {
  height: 70px;
  min-width: 70px;
  margin-left: 5px;
}
.game-box
  .container
  .parent
  .box:nth-child(1)
  .gallery
  .smail-img
  img:last-child {
  margin: 0;
}
.game-box .container .parent .box:nth-child(1) .tale {
  margin-top: 40px;
}
.game-box .container .parent .box:nth-child(1) .tale h4 {
  margin: 0;
}
.game-box .container .parent .box:nth-child(1) .tale p {
  font-size: 0.9rem;
}
.game-box .container .parent .box:nth-child(1) .members .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #777;
  border-bottom: solid 1px #777;
  font-size: 0.9rem;
  margin: 20px 0;
}
.game-box .container .parent .box:nth-child(1) .members .data div {
  align-items: center;
  display: flex;
}
.game-box .container .parent .box:nth-child(1) .members .data div p {
  margin: 10px 0 10px 5px;
}
.game-box .container .parent .box:nth-child(1) .members .commits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.game-box .container .parent .box:nth-child(1) .members .commits .nots {
  background-color: #ddb1b5;
  width: 100%;
}
.game-box .container .parent .box:nth-child(1) .members .commits .nots p {
  margin: 0;
  padding: 10px;
  font-size: 0.9rem;
}
.game-box .container .parent .box:nth-child(1) .members .commits .not_commits {
  width: 100%;
  background-color: #e1e1e1;
  text-align: center;
}
.game-box
  .container
  .parent
  .box:nth-child(1)
  .members
  .commits
  .not_commits
  p {
  margin: 0;
  padding: 10px;
  font-size: 0.9rem;
}
/* Start Box Two */
.game-box .container .parent .box:nth-child(2) {
  width: 35%;
}
.game-box .container .parent .box:nth-child(2) .dowload {
  background-color: #e1e1e1;
  padding: 15px;
  margin-bottom: 25px;
}
.game-box .container .parent .box:nth-child(2) .dowload a {
  display: block;
  padding: 15px;
  background-color: #9fbf00;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 35px;
  transition: var(--transition);
}
.game-box .container .parent .box:nth-child(2) .dowload a:hover {
  background-color: #8bb01a;
}
.game-box .container .parent .box:nth-child(2) .dowload a::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgba(119, 119, 119, 0.438);
  border-radius: 50%;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.game-box .container .parent .box:nth-child(2) .dowload .data .smail_box {
  margin-bottom: 5px;
  color: #777;
  font-size: 0.9rem;
}
.game-box .container .parent .box:nth-child(2) .dowload .data .smail_box i {
  margin-left: 5px;
}
.game-box .container .parent .box:nth-child(2) .follow a {
  display: block;
  width: 100%;
  padding: 12px;
  color: #fff;
  font-size: 0.9rem;
  transition: var(--transition);
}
.game-box .container .parent .box:nth-child(2) .follow a i {
  margin-left: 5px;
}
.game-box .container .parent .box:nth-child(2) .follow a.facebook {
  background-color: #4e69a2;
  margin-bottom: 5px;
}
.game-box .container .parent .box:nth-child(2) .follow a.twitter {
  background-color: #319de1;
}
.game-box .container .parent .box:nth-child(2) .follow a.facebook:hover {
  background-color: #6077a7;
}
.game-box .container .parent .box:nth-child(2) .follow a.twitter:hover {
  background-color: #47a3dd;
}
.game-box .container .parent .box:nth-child(2) .info {
  margin-top: 60px;
}
.game-box .container .parent .box:nth-child(2) .info .box {
  width: 100%;
  margin-bottom: 25px;
}
.game-box .container .parent .box:nth-child(2) .info .box h4 {
  font-size: 1rem;
  margin: 10px 0;
}
.game-box .container .parent .box:nth-child(2) .info .box p {
  margin: 4px 0;
  font-size: 0.9rem;
}
/* All Media in The Box Game */
@media (max-width: 767px) {
  .game-box .container .parent {
    flex-direction: column;
  }
  .game-box .container .parent .box:nth-child(1),
  .game-box .container .parent .box:nth-child(2) {
    width: 100%;
  }
}
/* End Box Game */
